<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>File Upload and Download</title>
    {{ bootstrap.load_css() }}
    {{ dropzone.load_css() }}
    {{ dropzone.load_js() }}
    {{ dropzone.config() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        a {
            color: black;
        }
    </style>
</head>
<body>
    <div class="container py-5">
        <h1 class="mb-5">Upload your file</h1>
        <form action="{{ url_for('create_folder') }}" method="post">
            <input type="text" name="folder_name" required>
            <button type="submit" class="btn btn-primary">Create Folder</button>
        </form>
        <div class="btn-block" style="padding: 8px;">
            <a href="{{ url_for('download_all') }}" class="btn btn-primary mb-3">Download All</a>
            <a href="{{ url_for('delete_all') }}" class="btn btn-danger mb-3">Delete All</a>
        </div>
        {% macro render_dict(dict, path='', prefix='') %}
        <ul style="list-style: none; padding-left: 0;">
            {% for key, value in dict.items() %}
                {% if value is mapping %}
                    <li style="margin-bottom: 16px; margin-top: 16px;">
                        <pre style="display: inline; border: none; padding: 0;">{{ prefix }}├── </pre>
                        <span style="border: 1px solid #ccc; padding: 2px;">
                            <a href="#" data-toggle="modal" data-target="#actionModal" data-filename="{{ path + key }}" data-folder="true" style="color: black;">{{ key }}</a>
                        </span>
                        {{ render_dict(value, path + key + '/', prefix + "│   ") }}
                    </li>
                {% else %}
                    <li style="margin-bottom: 1px;">
                        <pre style="display: inline; border: none; padding: 0;">{{ prefix }}├── </pre>
                        <span style="border: 1px dashed #ccc; padding: 2px;">
                            <a href="#" data-toggle="modal" data-target="#actionModal" data-filename="{{ path + key }}" data-folder="false" style="color: black;">{{ key }}</a>
                        </span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endmacro %}        
        
        
        {{ render_dict(files) }}
    
        <!-- Existing form for manual file upload -->
        <!-- <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
            <select name="folder">
                {% for folder in folders %}
                <option value="{{ folder }}">{{ folder }}</option>
                {% endfor %}
            </select>
            <input type="file" name="file">
            <button type="submit" class="btn btn-primary">Upload</button>
        </form> -->
        <!-- New Dropzone form for drag-and-drop file upload -->
        <div class="container py-5">
            <form action="{{ url_for('upload') }}" method="post" class="dropzone" id="myDropzone" enctype="multipart/form-data">
                <div class="fallback">
                    <input name="file" type="file" multiple />
                    <input type="submit" value="Upload" />
                </div>
                <input type="hidden" id="folder" name="folder">
                <select id="folderSelect">
                    {% for folder in folders %}
                    <option value="{{ folder }}">{{ folder }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>
    
    <div class="modal fade" id="actionModal" tabindex="-1" role="dialog" aria-labelledby="actionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="actionModalLabel">Choose an action</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            </div>
            <div class="modal-body">
            <p>What do you want to do with this file?</p>
            </div>
            <div class="modal-footer">
            <a href="#" id="downloadLink" class="btn btn-primary">Download</a>
            <a href="#" id="deleteLink" class="btn btn-danger">Delete</a>
            </div>
        </div>
        </div>
    </div>
  
    <script>
        Dropzone.options.myDropzone = {
            init: function() {
                this.on("queuecomplete", function() {
                    location.reload();  // Refresh the page after all files are uploaded
                });
                this.on("sending", function(file, xhr, formData) {
                    // Get the selected folder from the dropdown
                    var folder = document.querySelector('#folderSelect').value;
                    // Set the value of the hidden input field
                    document.querySelector('#folder').value = folder;
                });
            }
        };

        $('#actionModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var filename = button.data('filename'); // Extract info from data-* attributes
            var isFolder = button.data('folder');
            var modal = $(this);
            if (isFolder) {
                modal.find('.modal-title').text('Choose an action for this folder');
                modal.find('.modal-body').text('What do you want to do with this folder?');
                modal.find('#downloadLink').attr('href', '/files/' + filename);
                modal.find('#deleteLink').attr('href', '/delete_folder/' + filename);
            } else {
                modal.find('.modal-title').text('Choose an action for this file');
                modal.find('.modal-body').text('What do you want to do with this file?');
                modal.find('#downloadLink').attr('href', '/files/' + filename);
                modal.find('#deleteLink').attr('href', '/delete/' + filename);
            }
        });

    </script>

</body>
</html>
